@page "/servers"
@attribute [StreamRendering]

@rendermode InteractiveServer

@* @inject NavigationManager NavigationManager *@
<h3>Server Page</h3>

<CityListComponent SelectedCity="@_selectedCity" OnCityChanged="FilterByCity"/>

<SearchBarComponent ServerFilter="@_serverFilter" OnFilterChanged="SearchServer"/>

<CascadingValue Name="SelectedCity" Value="@_selectedCity">
    <ServerListComponent SelectedCity="@_selectedCity" ServerFilter="@_serverFilter"/>
</CascadingValue>

<a href="/servers/add" class="text-white btn btn-info">Add Server</a>

@code {
    private string _selectedCity = string.Empty;
    private string _serverFilter = string.Empty;

    private void FilterByCity(string city) 
    {
        _selectedCity = city;
        _serverFilter = string.Empty;
    }

    private void SearchServer(string filter)
    {
        _serverFilter = filter;
        _selectedCity = string.Empty;
    }
}
